mat-grid-tile{
   /* background-image: url("../../../assets/backgroung.png"); */
   background-color: lightslategrey;
}

mat-card {
      margin-top: 2rem;
      min-width: 150px;
      max-width: 760px;
      width: 100%;
      margin: 1em auto;
}

mat-form-field{
    margin-top: 10px;
    margin-left: 10px;
    width: 48%;
}
mat-card-content{
    margin: 0px;
}
mat-card-actions{
    margin-top: 0px;
    padding-right: 20px;
}

.buttonLogin{
    color: white;
    background-color: #646464;
    width: 20%;
}