<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card color="primary">
            <mat-card-header></mat-card-header>
            <mat-card-content>
                <form class="loginForm">            
                    <img src="../../../assets/img-login.png">
                    <mat-divider></mat-divider>
        
                    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" class="inputLogin">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="username" name="username" id="username" placeholder="Type your username" required>
                    </mat-form-field>
        
                    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" class="inputLogin">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [(ngModel)]="password" name="password" id="password" placeholder="Type your password"  required>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button (click)="login()" class="buttonLogin mat-subheadig-2" >Login</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>