<mat-toolbar color="basic" class="navbar">
  <div class="image"><img src="../assets/logo-header.png"></div>
  <div>
    <span><a [matMenuTriggerFor]="inventoryMenu" >Inventory</a></span>
    <mat-menu #inventoryMenu="matMenu" yPosition="below">
      <a mat-list-item href="#">Imports</a>
      <a mat-list-item href="#">Exports</a>
    </mat-menu>
    <span><a [matMenuTriggerFor]="productMenu">Products</a></span>
    <mat-menu #productMenu="matMenu">
      <a mat-list-item href="#">New Product</a>
      <a mat-list-item href="#">New Category</a>
      <a mat-list-item href="#">New Amount</a>
    </mat-menu>
    <span><a [matMenuTriggerFor]="adminMenu">Admin</a></span>
    <mat-menu #adminMenu="matMenu">
      <a mat-list-item href="#">New Company</a>
      <a mat-list-item href="#">New Warehouse</a>
      <a mat-list-item href="#">New User</a>
    </mat-menu>
    <span><a [matMenuTriggerFor]="reportMenu">Report</a></span>
    <mat-menu #reportMenu="matMenu">
      <a mat-list-item href="#">General Rep</a>
      <a mat-list-item href="#">Search</a>
    </mat-menu>
    <span><a mat-lit-item href="#">Profile</a></span>
    <span><a href="#"><mat-icon>logout</mat-icon></a></span>
  </div>
</mat-toolbar>