mat-toolbar {
    height: 80px;
}

mat-toolbar div.image{
    padding-top: 30px;
    padding-left: 60px;
}

.navbar{
    justify-content: space-between;
}

span{
    padding-right: 3rem;
}

a{
    text-decoration: none;
    color: darkslategrey;
}

mat-nav-list.list-horizontal {
    display: flex;
    flex-direction: row;
}