<app-navbar></app-navbar>
<span class="mat-title">DashBoard</span>
<mat-grid-list cols="2" rowHeight="2:1" >
    <mat-grid-tile>Top 10 Alert</mat-grid-tile>
    <mat-grid-tile>Top 6 Products </mat-grid-tile>
    <mat-grid-tile>Graph</mat-grid-tile>
    <mat-grid-tile>Top 6 Products</mat-grid-tile>
</mat-grid-list>